<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class = "box-container">
  <ion-row class = "box-row">
    <ion-col class = "box-col">
  <ion-button expand="full" size="large">
    Left Icon
  </ion-button>
  </ion-col>
  <ion-col class = "box-col">
  <ion-button expand="full" size="large">
    Left Icon
  </ion-button>
  </ion-col>
  </ion-row>
  <ion-row class = "box-row">
      <ion-col class = "box-col">
    <ion-button>
      <ion-icon slot="start"></ion-icon>
      Left Icon
    </ion-button>
    </ion-col>
    <ion-col class = "box-col">
    <ion-button>
    <ion-icon slot="start"></ion-icon>
      Left Icon
    </ion-button>
    </ion-col>
    </ion-row>
    <ion-row class = "box-row">
        <ion-col class = "box-col">
      <ion-button>
        <ion-icon slot="start"></ion-icon>
        Left Icon
      </ion-button>
      </ion-col>
      <ion-col class = "box-col">
      <ion-button>
      <ion-icon slot="start"></ion-icon>
        Left Icon
      </ion-button>
      </ion-col>
      </ion-row>
  
 </ion-grid>
</ion-content>
